%section#work.bg-gray
  .container.text-center.wow.fadeIn
    %h2 Case Studies
    %hr.colored/
    %p Here are some in depth case studies of larger projects that I've worked on in the past.
%section.portfolio-carousel.wow.fadeIn
  .item{:style => "background-image: url(#{asset_path('creative/portfolio/bg-1.jpg')})"}
    .container-fluid
      .row
        .col-md-4.col-md-push-8
          .project-details
            %img.img-responsive.client-logo{:alt => "", :src => asset_path('client-logos/logo-1.png')}/
            %span.project-name Project Name
            %span.project-description Branding, Website Design
            %hr.colored/
            %a.btn.btn-outline-light{"data-toggle" => "modal", :href => "#portfolioModal1"}
              View Details
              %i.fa.fa-long-arrow-right.fa-fw
        .col-md-8.col-md-pull-4.hidden-xs
          %img.img-responsive.portfolio-image{:alt => "", :src => asset_path('albi/portfolio/mobile-screens.png')}/
  .item{:style => "background-image: url(#{asset_path('creative/portfolio/bg-2.jpg')})"}
    .container-fluid
      .row
        .col-md-4.col-md-push-8
          .project-details
            %img.img-responsive.client-logo{:alt => "", :src => asset_path('client-logos/logo-2.png')}/
            %span.project-name Project Name
            %span.project-description Branding, Website Design
            %hr.colored/
            %a.btn.btn-outline-light{"data-toggle" => "modal", :href => "#portfolioModal2"}
              View Details
              %i.fa.fa-long-arrow-right.fa-fw
        .col-md-8.col-md-pull-4.hidden-xs
          %img.img-responsive.portfolio-image{:alt => "", :src => asset_path('albi/portfolio/tablet-screens.png')}/
  .item{:style => "background-image: url(#{asset_path('creative/portfolio/bg-3.jpg')})"}
    .container-fluid
      .row
        .col-md-4.col-md-push-8
          .project-details
            %img.img-responsive.client-logo{:alt => "", :src => asset_path('client-logos/logo-1.png')}/
            %span.project-name Project Name
            %span.project-description Branding, Website Design
            %hr.colored/
            %a.btn.btn-outline-light{"data-toggle" => "modal", :href => "#portfolioModal3"}
              View Details
              %i.fa.fa-long-arrow-right.fa-fw
        .col-md-8.col-md-pull-4.hidden-xs
          %img.img-responsive.portfolio-image{:alt => "", :src => asset_path('albi/portfolio/mobile-screens.png')}/
  .item{:style => "background-image: url(#{asset_path('creative/portfolio/bg-4.jpg')})"}
    .container-fluid
      .row
        .col-md-4.col-md-push-8
          .project-details
            %img.img-responsive.client-logo{:alt => "", :src => asset_path('client-logos/logo-2.png')}/
            %span.project-name Project Name
            %span.project-description Branding, Website Design
            %hr.colored/
            %a.btn.btn-outline-light{"data-toggle" => "modal", :href => "#portfolioModal4"}
              View Details
              %i.fa.fa-long-arrow-right.fa-fw
        .col-md-8.col-md-pull-4.hidden-xs
          %img.img-responsive.portfolio-image{:alt => "", :src => asset_path('albi/portfolio/tablet-screens.png')}/
%section
  .container.text-center.wow.fadeIn
    %h2 Portfolio
    %hr.colored/
    %p Here are some other projects that I've worked on.
    .row.content-row
      .col-lg-12
        .portfolio-filter
          %ul#filters.clearfix
            %li
              %span.filter.active{"data-filter" => "identity graphic logo web oenology seminar"} All
            %li
              %span.filter{"data-filter" => "identity"} Identity
            %li
              %span.filter{"data-filter" => "graphic"} Graphic
            %li
              %span.filter{"data-filter" => "web"} Web
            %li
              %span.filter{"data-filter" => "oenology"}= t('projects.categories.oenology')
            %li
              %span.filter{"data-filter" => "seminar"}= t('projects.categories.seminar')
    .row
      .col-lg-12
        #portfoliolist
          - @projects.each do |project|
            .portfolio{:class => "#{project.category}", "data-cat" => "#{project.category}", "data-toggle" => "modal", :href => "#portfolioModal1"}
              .portfolio-wrapper
                %img{:alt => "", :src => asset_path("albi/portfolio/grid/#{project.category}/#{project.title}.jpg")}/
                .caption
                  .caption-text
                    %a.text-title= t("projects.names.#{project.title}")
                    %span.text-category= t("projects.categories.#{project.category}").capitalize
                  .caption-bg

          .portfolio.identity{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/identity/1.jpg')}/
              .caption
                .caption-text
                  %a.text-title Generic Inc.
                  %span.text-category Brand Identity
                .caption-bg
          .portfolio.web{"data-cat" => "web", "data-toggle" => "modal", :href => "#portfolioModal2"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/web/1.jpg')}/
              .caption
                .caption-text
                  %a.text-title Brands
                  %span.text-category Web Development
                .caption-bg
          .portfolio.graphic{"data-cat" => "graphic", "data-toggle" => "modal", :href => "#portfolioModal3"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/graphic/1.jpg')}/
              .caption
                .caption-text
                  %a.text-title Excellence
                  %span.text-category Poster Design
                .caption-bg
          .portfolio.web{"data-cat" => "web", "data-toggle" => "modal", :href => "#portfolioModal4"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/web/2.jpg')}/
              .caption
                .caption-text
                  %a.text-title YouTV
                  %span.text-category Web Development
                .caption-bg
          .portfolio.graphic{"data-cat" => "graphic", "data-toggle" => "modal", :href => "#portfolioModal1"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/graphic/2.jpg')}/
              .caption
                .caption-text
                  %a.text-title Office Supplies
                  %span.text-category Graphic Design
                .caption-bg
          .portfolio.web{"data-cat" => "web", "data-toggle" => "modal", :href => "#portfolioModal2"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/web/3.jpg')}/
              .caption
                .caption-text
                  %a.text-title Fooder
                  %span.text-category Mobile App
                .caption-bg
          .portfolio.graphic{"data-cat" => "graphic", "data-toggle" => "modal", :href => "#portfolioModal3"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/graphic/3.jpg')}/
              .caption
                .caption-text
                  %a.text-title Mountain Tea
                  %span.text-category Graphic Design
                .caption-bg
          .portfolio.graphic{"data-cat" => "graphic", "data-toggle" => "modal", :href => "#portfolioModal4"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/graphic/4.jpg')}/
              .caption
                .caption-text
                  %a.text-title Checkmark
                  %span.text-category Graphic Design
                .caption-bg
          .portfolio.identity{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal1"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/identity/2.jpg')}/
              .caption
                .caption-text
                  %a.text-title Demish
                  %span.text-category Brand Identity
                .caption-bg
          .portfolio.web{"data-cat" => "web", "data-toggle" => "modal", :href => "#portfolioModal2"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/web/4.jpg')}/
              .caption
                .caption-text
                  %a.text-title OneRepublic
                  %span.text-category Web Development
                .caption-bg
          .portfolio.graphic{"data-cat" => "graphic", "data-toggle" => "modal", :href => "#portfolioModal3"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/graphic/5.jpg')}/
              .caption
                .caption-text
                  %a.text-title Postable
                  %span.text-category Graphic Design
                .caption-bg
          .portfolio.identity{"data-cat" => "identity", "data-toggle" => "modal", :href => "#portfolioModal4"}
            .portfolio-wrapper
              %img{:alt => "", :src => asset_path('albi/portfolio/grid/identity/3.jpg')}/
              .caption
                .caption-text
                  %a.text-title Simpli Nota
                  %span.text-category Brand Identity
                .caption-bg