- provide :page_stylesheet do
  :css
    .rwd-video {
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
    }
    .rwd-video iframe,
    .rwd-video object,
    .rwd-video embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
/ Navigation
/ Note: navbar-default and navbar-inverse are both supported with this theme.
%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => "#page-top"}
        %img.img-responsive{:alt => "", :src => asset_path('client-logos/logo-1.png')}/
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a.page-scroll{:href => "#page-top"}
        %li
          %a.page-scroll{:href => "#about"} About
        %li
          %a.page-scroll{:href => "#services"} Services
        %li
          %a.page-scroll{:href => "#process"} Process
        %li
          %a.page-scroll{:href => "#work"} Work
        %li
          %a.page-scroll{:href => "#contact"} Contact
    / /.navbar-collapse
  / /.container
%header{:style => "background-image: url(#{asset_path('albi/bg-header.jpg')});"}
  .intro-content
    %img.img-responsive.img-centered{:alt => "", :src => asset_path("creative/profile.png")}/
    .brand-name= t('views.albi.header.brand-name')
    %hr.colored/
    .brand-name-subtext= t('views.albi.header.subtext')
  .scroll-down
    %a.btn.page-scroll{:href => "#about"}
      %i.fa.fa-angle-down.fa-fw
%section#about
  .container.wow.fadeIn
    .row
      .col-md-6
        %img.img-responsive{:alt => "", :src => asset_path("albi/about.jpg")}/
      .col-md-6.text-center
        %h1= t('views.albi.about.title')
        %hr.colored/
        %p= t('views.albi.about.par1')
        %p= t('views.albi.about.par2')
%section#services.bg-gray
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1 Ecco cosa faccio
        %p Nel corso degli ultimi 5 anni l'impegno sul territorio transfrontaliero goriziano mi ha portato a impegnarmi in diversi ambiti.
        %hr.colored/
    .row.text-center.content-row
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".2s"}
        .about-content
          %i.fa.fa-hand-peace-o.fa-4x
          %h3 Peace & Love 
          %p Possiamo decidere insieme come procedere con la compilazione di questa sezione. Ecco alcune proposte!
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".4s"}
        .about-content
          %i.fa.fa-glass.fa-4x
          %h3 Enologia
          %p Principalmente nella zona del Collio, eventi volti alla promozione delle cantine locali e dell'educazione al bere.
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".6s"}
        .about-content
          %i.fa.fa-graduation-cap.fa-4x
          %h3 Seminari
          %p Eventi culturali nel contesto dell'associazionismo universitario, rassegne cinematografiche e convegni di varia natura.
      .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".8s"}
        .about-content
          %i.fa.fa-deaf.fa-4x
          %h3 Silent Parties
          %p Silent parties con cuffie bluetooth e altri eventi che conciliano divertimento e rispetto della quiete pubblica.
%aside.cta-quote{:style => "background-image: url(#{asset_path('creative/bg-aside.jpg')});"}
  .container
    .row
      .col-md-10.col-md-offset-1.wow.fadeIn
        %span.quote
          Possiamo metterci una
          %span.text-primary bella
          citazione purché non sia una
          %span.text-primary cagata
          colossale.
          = succeed "." do
            %span.text-primary Pensaci!
        %hr.colored/
        %a.btn.btn-outline-light.page-scroll{:href => "#contact"} Let's Find It
    .row
      %br
    .row
      .col-md-10.col-md-offset-1.wow.fadeIn
        .rwd-video
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/q-bdlWnRJmI", :width => "420"}

%section#process.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h2 My Process
        %hr.colored/
        %p Here is an overview of how I approach each new project.
    .row.content-row
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".2s"}
        .media
          .pull-left
            %i.fa.fa-clipboard
          .media-body
            %h3.media-heading Plan
            %ul
              %li Client interview
              %li Gather consumer data
              %li Create content strategy
              %li Analyze research
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".4s"}
        .media
          .pull-left
            %i.fa.fa-pencil
          .media-body
            %h3.media-heading Create
            %ul
              %li Build wireframe
              %li Gather client feedback
              %li Code development
              %li Marketing review
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".6s"}
        .media
          .pull-left
            %i.fa.fa-rocket
          .media-body
            %h3.media-heading Launch
            %ul
              %li Deploy website
              %li Market product launch
              %li Collect UX data
              %li Quarterly maintenence
= render partial:'work'
%section.testimonials.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          .item
            .row
              .col-lg-12
                %p.lead "Working with John Smith was both a valuable and rewarding experience."
                %hr.colored/
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    %img.img-circle.img-responsive{:alt => "", :src => asset_path('testimonials/1.jpg')}/
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
          .item
            .row
              .col-lg-12
                %p.lead "John is an excellent designer, and we got our project done on time and on budget."
                %hr.colored/
                %p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    %img.img-circle.img-responsive{:alt => "", :src => asset_path('testimonials/1.jpg')}/
                  .testimonial-author
                    %span.name Jim Walker
                    %p.small CEO of GeneriCorp
                    .stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
%section.cta-form.bg-dark
  .container.text-center
    %h3 Subscribe to our newsletter!
    %hr.colored/
    .row
      .col-lg-8.col-lg-offset-2
        / MailChimp Signup Form
        #mc_embed_signup
          / Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs!
          %form#mc-embedded-subscribe-form{:action => "//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&id=afb284632f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :role => "form", :target => "_blank"}
            .input-group.input-group-lg
              %input#mce-EMAIL.form-control{:name => "EMAIL", :placeholder => "Email address...", :type => "email"}/
              %span.input-group-btn
                %button#mc-embedded-subscribe.btn.btn-primary{:name => "subscribe", :type => "submit"} Subscribe!
            #mce-responses
              #mce-error-response.response{:style => "display:none"}
              #mce-success-response.response{:style => "display:none"}
        / End MailChimp Signup Form
%section#contact
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        %h2 Contact Me
        %hr.colored/
        %p I'd love to hear about your next project! Send me a message and I will see if I can help.
    .row.content-row
      .col-lg-8.col-lg-offset-2
        %form#contactForm{:name => "sentMessage", :novalidate => ""}
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Name
              %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Name", :required => "", :type => "text"}/
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Email Address
              %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Email Address", :required => "", :type => "email"}/
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Phone Number
              %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Phone Number", :required => "", :type => "tel"}/
              %p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Message
              %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Message", :required => "", :rows => "5"}
              %p.help-block.text-danger
          %br/
          #success
          .row
            .form-group.col-xs-12
              %button.btn.btn-outline-dark{:type => "submit"} Send
/%a.btn.btn-block.btn-full-width{:href => "https://wrapbootstrap.com/theme/vitality-multipurpose-one-page-theme-WB02K3KK3"} Buy Vitality Now!
%footer.footer{:style => "background-image: url(#{asset_path('bg-footer.jpg')})"}
  .container.text-center
    .row
      .col-md-4.contact-details
        %h4
          %i.fa.fa-phone
          Call
        %p 555-213-4567
      .col-md-4.contact-details
        %h4
          %i.fa.fa-map-marker
          Visit
        %p
          Gorizia
          = succeed "Italy" do
            %br/
      .col-md-4.contact-details
        %h4
          %i.fa.fa-envelope
          Email
        %p
          %a{:href => "mailto:alberto.zen1988@gmail.com"} alberto.zen1988@gmail.com
    .row.social
      .col-lg-12
        %ul.list-inline
          %li
            %a{:href => "https://it-it.facebook.com/alberto.zen1"}
              %i.fa.fa-facebook.fa-fw.fa-2x
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-fw.fa-2x
          %li
            %a{:href => "https://it.linkedin.com/in/zen-alberto-b486b910"}
              %i.fa.fa-linkedin.fa-fw.fa-2x
    .row.copyright
      .col-lg-12
        %a.small{:href => "https://github.com/mberlanda"} © 2016 mabe